<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css">
        <title>Reset password</title>
    </head>
    <body>
        <div class="container">
        <form id="myform" class="forgot-con">
            <label>Enter the New password</label>
            <input type="password" name="password"/>
            <label>Enter the New password</label>
            <input type="password" name="conf_pass"/>
            <button type="submit">Submit</button>
            <div id="message" class="hidden"></div>
        </form>
        </div>
        <script>
const form = document.querySelector('#myform');
const message = document.querySelector('#message');


form.addEventListener('submit', async (e)=>{
    e.preventDefault();
    const params = new URLSearchParams(window.location.search);
    let formdata= new FormData(form);
    formdata.append("token",params.get("token"));
    let urlencoded= new URLSearchParams(formdata).toString();
    const response = await fetch('/reset-password',{
        method:'post',
        headers:{
            'content-Type':'application/x-www-form-urlencoded'
        },
        body:urlencoded
    });
    console.log(response);
    if(response.redirected){
        window.location.href = response.url;
    }
    else{
     const result=await response.json();
        message.classList.remove('hidden');
        message.style.color="red";
        message.style.fontSize="small";
        message.innerText=result.message;
    }
})
        </script>
    </body>
    </html>