<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/about.css"/>
        <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css">
        <title>About</title>
    </head>
    <body>
        <div class="nav">
            <section class="brand"><img src="/images/img.jpg" alt="brand"/></section>
            <section class="navlinks">
                <div><a href="/category">Category</a></div>
                <div><a href="/about">About</a></div>
                <div><a href="/trending">Trending</a></div>
                <div><a href="/toprated">Top Rated</a></div>
            </section>
            </div>
            <div class="body">
                <h2>About the Site</h2>
                <div><p>the site is dedicated to address the problem of the accessibility of the books in our country</p></div>
                <h2>About the Author</h2>
                <div><p>
                    The Auhtor of the site is me, Biniyam Gedefaw. I am currently 5th year Electrical and Computer Engineering student.
                    This my first fully functional site. I am currently focusinng on software Backend Development with Node Js especially in Express.js
                </p></div>
                <form id="comment-form">
                    <textarea name="comment" required></textarea>
                    <button type="submit">Submit</button>
                    <input type="hidden" id="recaptchaToken" name="recaptchaToken">
                </form>

            </div>
            <div class="footer">
                <ul>
                    <li>
                        Contact Us:
                        <ul class="contact">
                        <li><a href="tel:+251989566114" target="_blank" style="color:gray"><i class="fas fa-phone"></i> +251-989-566-114</a></li>
                        <li><a href="mailto:biniyamgashe@gmail.com" target="_blank" style="color:rgb(40,100,250)"><i class="fas fa-envelope"></i> Email</a></li>
                        <li><a href="https://t.me/Bingashe" target="_blank" style="color:rgb(40,140,200)"><i class="fab fa-telegram"></i> telegram</a></li>
                        <li><a href="https://wa.me/251989566114" target="_blank"  style="color:rgb(40,100,40)"><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
                        <li><a href="https://www.facebook.com/username" target="_blank" style="color:blue"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="https://www.instagram.com/bin.gashe/" target="_blank"  style="color:rgb(180,20,100)"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/termandpolicy">Terms and Policies</a></li>
                    <li><a href="/"></a></li>
                </ul>
                <div>
                    <p>&copy2025. All rights are Reserved.</p>
                </div>
            </div>
    </body>
    </html>