<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/category.css"/>
        <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css">
        <title>Category</title>
    </head>
    <body>
        <div class="nav">
            <section class="brand"><img src="/images/img.jpg" alt="brand"/></section>
            <section class="navlinks">
                <div><a href="/category">Category</a></div>
                <div><a href="/about">About</a></div>
                <div><a href="/trending">Trending</a></div>
                <div><a href="/toprated">Top Rated</a></div>
            </section>
            </div>
<div class="cat-container">
<div class="category">
    <h5><a href="/list"><i class="fas fa-circle fa-xs"></i> Fictions</a></h5>
    <hr>
    <div>
        <p>fictions are the books created in the mind pf the writer and lived by the characters with close supervision of the readers.</p>
    </div>
</div>
<div class="category">
    <h5><a href="/list/tech"><i class="fas fa-circle fa-xs"></i> Technology</a></h5>
    <hr>
    <div>
        <p>Technology books are the books boldly focusing on the evergrowing and iluuminating technological advancements as looked by the authors.</p>
    </div>
</div>
<div class="category">
    <h5><a href="/list/science"><i class="fas fa-circle fa-xs"></i> Science</a></h5>
    <hr>
    <div>
        <p>Science books are the books for science nerds to get deeper and fastidious studies and discoverys of the scientific universe</p>
    </div>
</div>
<div class="category">
    <h5><a href="/list/psyc"><i class="fas fa-circle fa-xs"></i> Psychology</a></h5>
    <hr>
    <div>
        <p>
            Psychology books are the books aimed at the studys behind every actions, emotions and behaviours of human being by the emperical vigilant eye of the Psychologists and Psychiatrists.
        </p>
    </div>
</div>
<div class="category">
    <h5><a href="/list/philo"><i class="fas fa-circle fa-xs"></i> Philosophy</a></h5>
    <hr>
    <div>
        <p>Philosophical books are the discovery books of the human mind towards the world around it</p>
    </div>
</div>
</div>
<div class="footer">
            <ul>
                <li>
                    Contact Us:
                    <ul class="contact">
                    <li><a href="tel:+251989566114" target="_blank" style="color:gray"><i class="fas fa-phone"></i> +251-989-566-114</a></li>
                    <li><a href="mailto:biniyamgashe@gmail.com" target="_blank" style="color:rgb(40,100,250)"><i class="fas fa-envelope"></i> Email</a></li>
                    <li><a href="https://t.me/Bingashe" target="_blank" style="color:rgb(40,140,200)"><i class="fab fa-telegram"></i> telegram</a></li>
                    <li><a href="https://wa.me/251989566114" target="_blank"  style="color:rgb(40,100,40)"><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
                    <li><a href="https://www.facebook.com/username" target="_blank" style="color:blue"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.instagram.com/bin.gashe/" target="_blank"  style="color:rgb(180,20,100)"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul></li>
                <li><a href="/about">About</a></li>
                <li><a href="/termandpolicy">Terms and Policies</a></li>
                <li><a href="/"></a></li>
            </ul>
            <div>
                <p>&copy2025. All rights are Reserved.</p>
            </div>
        </div>

    </body>
    </html>