<!DOctype html>
<html lang="en">
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width initial-scale=1">
<link rel="stylesheet" href="/css/list.css">
<link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css">
<title>List</title>
</head>
<body>
    <div class="nav">
        <section class="brand"><img src="/images/img.jpg" alt="brand"/></section>
        <section class="navlinks">
            <div><a href="/category">Category</a></div>
            <div><a href="/about">About</a></div>
            <div><a href="/trending">Trending</a></div>
            <div><a href="/toprated">Top Rated</a></div>
        </section>
        </div>
        <h2>Category</h2>
        <div class="card">

            <div class="card-body">
            <img src="/images/crime.png"/>
            <div>
            <h3>Author | <span style="color:rgb(150,100,0)">Fyodor Dostoevsky</span></h3>
            <h3>Rate | <span style="color:orange">8.3</span></h3>
            <p>
        Sleep is not just rest; it is essential for brain function and overall health. The body undergoes
vital repair processes during deep sleep, including muscle growth and immune system strengthening. The brain uses this
time to clear out toxins, including beta-amyloid, which is linked to Alzheimer’s disease.
            </p>
            <a href="/book/1"> <button>Review</button></a>
            </div>
        </div>
        <hr>
        </div>
        <div class="card">
            <div class="card-body">

            <img src="/images/gatsby.png"/>
           <div>
               <h3>Author | <span style="color:rgb(155,100,0)">F. Scott Fitzgerald</span></h3>
               <h3>Rate | <span style="color:orange">7.5</span></h3>
            <p>
        Renewable energy is rapidly transforming the global energy landscape. Solar and wind power are leading the charge,
becoming more affordable and efficient each year. In 2023, over 80% of new electricity capacity came from renewables.
Battery technology improvements are making energy storage more viable, solving the problem of intermittent supply.
            </p>
            <a href="/book/1"><button>Review</button></a>
           </div>
            </div>
            <hr>
        </div>

        <div class="footer">
            <ul>
                <li>
                    Contact Us:
                    <ul class="contact">
                    <li><a href="tel:+251989566114" target="_blank" style="color:gray"><i class="fas fa-phone"></i> +251-989-566-114</a></li>
                    <li><a href="mailto:biniyamgashe@gmail.com" target="_blank" style="color:rgb(40,100,250)"><i class="fas fa-envelope"></i> Email</a></li>
                    <li><a href="https://t.me/Bingashe" target="_blank" style="color:rgb(40,140,200)"><i class="fab fa-telegram"></i> telegram</a></li>
                    <li><a href="https://wa.me/251989566114" target="_blank"  style="color:rgb(40,100,40)"><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
                    <li><a href="https://www.facebook.com/username" target="_blank" style="color:blue"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.instagram.com/bin.gashe/" target="_blank"  style="color:rgb(180,20,100)"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul></li>
                <li><a href="/about">About</a></li>
                <li><a href="/termandpolicy">Terms and Policies</a></li>
                <li><a href="/"></a></li>
            </ul>
            <div>
                <p>&copy2025. All rights are Reserved.</p>
            </div>
        </div>
</body>
</html>